/* mulish google font */

@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: "Mulish", sans-serif;

}

.btn-primary {
    border: none;
    border-radius: 8px;
    background: #FF5400;
    color: #FFF;
    font-size: 1.25rem;
    font-weight: 800;
    padding: 14px 34px;


}

/* navbar style */

.nav-container {
    display: flex;
    justify-content: space-between;
    width: 1170px;
    margin: 0 auto;
}

.nav-title {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.nav-title img {
    width: 48px;
    height: 56px;
}

.navbar-title h1 {
    color: #131318;
    font-size: 36px;
    font-weight: 800;
}

.nav-start-text {
    color: #FF5400;
}

.nav-menubar {
    display: flex;
    list-style: none;
    gap: 2.8rem;
    /* margin-right: 40px; */
    align-items: center;
}

.nav-container li a {
    text-decoration: none;
    color: #424242;
    font-size: 18px;
    font-weight: 700;
}

.nav-menubar .home-menu a {
    color: #FF5400;
}


/* header style */

.header-container {
    background-image: url('/Images/Group\ 13\ \(1\)\ \(1\).png'), linear-gradient(180deg, rgba(24, 24, 27, 0.8) 0%, rgba(19, 19, 24, 0.00) 100%);
    width: 1170px;
    height: 500px;
    background-size: cover;
    margin: 0 auto;
    border-radius: 16px;
    text-align: center;
}

.header-container h1 {
    color: #FFF;
    font-size: 4rem;
    font-weight: 800;
    padding-top: 6.5rem;
    margin-bottom: 0;
}

.header-container p {
    color: #FFF;
    font-size: 1rem;
    font-weight: 400;
    margin-top: 1.5rem;
    margin-bottom: 3rem;
}

.input-form {
    display: inline-flex;
    padding: 16px;
    align-items: flex-start;
    gap: 24px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);

}

.input-form input[type=text],
input[type=list],
input[type=button] {
    border-radius: 8px;
    border: none;
    font-size: 16px;
    font-weight: 400;
    padding: 16px 0 16px 16px;
    width: 174px;



}

.input-form input[type=button] {
    background: #FF5400;
    color: #FFF;
    text-align: center;
    font-weight: 700;
}

/* popular section style */

.popular-container {
    display: flex;
    width: 1170px;
    gap: 3.2rem;
    margin: 100px auto;
}

.popular-describe .popular-title {
    color: #131318;
    font-size: 2.5rem;
    font-weight: 800;


}

.popular-describe {
    color: rgba(19, 19, 24, 0.70);
    font-size: 1rem;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 1.5rem;
}

.popular-describe ul {
    margin-top: 24px;
    margin-bottom: 24px;
}

.popular-img {
    border-radius: 1rem;
    width: 540px;
    height: 550px;
}

/* destination section style */

.destination-title {
    text-align: center;
    margin-top: 6rem;
    margin-bottom: 3rem;
}

.destination-title h1 {
    color: #131318;
    font-size: 2.5rem;
    font-weight: 800;
    margin-bottom: 0px;

}

.destination-title p {
    color: rgba(19, 19, 24, 0.70);
    font-size: 1rem;
    font-weight: 400;
    line-height: 26px;
}

.destination-place {
    position: relative;
    /* width: 100%; */
    /* border: 2px solid red; */
}

.destination-img {
    width: 100%;
    height: 100%;
}

.destination-place h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    color: #FFF;
    font-size: 28px;
    font-weight: 800;

}

.destination-layout {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.5rem;
}

/* choose section style */

.choose-title {
    text-align: center;
    margin-top: 6rem;
    margin-bottom: 3rem;
}

.choose-title h1 {
    color: #131318;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 0px;
}

.choose-title p {
    color: rgba(19, 19, 24, 0.70);
    font-weight: 400;
    line-height: 26px;
}

.choose-box {
    width: 573px;
    height: 284px;
    border-radius: 16px;
    padding: 32px;
}

.choose-hotel {
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
}

.choose-service {
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);

}

.choose-price {
    border-radius: 16px;
    border: 1px solid rgba(233, 68, 68, 0.20);
    background: rgba(233, 68, 68, 0.05);
}

.icon {
    width: 64px;
    height: 64px;
    margin-bottom: 32px;
}

.choose-layout {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.4rem;
}

/* newsletter section style */

.newsletter-section {
    width: 474px;
    height: 422px;
    border-radius: 16px;
    border: 1px solid #FF5400;
    padding: 40px;

}

.newsletter-section h1 {
    color: #131318;
    font-size: 24px;
    font-weight: 800;
    margin-bottom: 16px;

}

.newsletter-section p {
    color: #5A5A5D;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 24px;
    margin-top: 0;
    width: 350px;
}

hr {
    background: rgba(19, 19, 24, 0.10);
    margin-bottom: 24px;
}

.newsletter-section input[type=text],
[type=email] {
    width: 393px;
    color: rgba(19, 19, 24, 0.30);
    font-size: 16px;
    font-weight: 400;
    padding: 16px;
    border: none;
    border-radius: 8px;
    background: rgba(19, 19, 24, 0.05);
    margin-bottom: 16px;

}

.newsletter-section input[type=submit] {
    width: 393px;
    color: #FFF;
    text-align: center;
    font-size: 20px;
    font-weight: 800;
    border-radius: 8px;
    background: #FF5400;
    padding-top: 16px;
    padding-bottom: 16px;
    border: none;
    margin-top: 40px;

}

.travel-section{
    width: 672px;
    height: 422px;

}

.travel-img {
    position: absolute;
    width: 100%;

}

travel-imgR{
    width: 100%;
}


.travel-info {
    color: #FFF;
    text-align: center;
    width: 324px;
    height: 120px;
    transform: rotate(-19.628deg);
    flex-shrink: 0;
    border-radius: 16px;
    background: #FF5400;
    padding-top: 5px;
    position: relative;
    top: 250px;
    left: 340px;
}

.travel-info p {
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 0;
}

.travel-info h4 {
    font-size: 32px;
    font-weight: 800;
    margin-top: 0;
}

.newsletter-travel-section {
    display: flex;
    gap: 24px;
    width: 1170px;
    margin: auto;
    margin-top: 100px;
}

/* footer style  */

.footer-title {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding-top: 6.5rem;
    margin-bottom: 0px;


}

.footer-title img {
    width: 40px;
    height: 46px;
}

.footer-title h1 {
    color: var(--Dark-01, #131318);
    font-size: 32px;
    font-weight: 800;
}

.footer-start-text {
    color: #FF5400;
}

.footer-img {
    height: 24px;
    width: 24px;
    margin-left: 30px;
}

.footer {
    background: rgba(19, 19, 24, 0.05);
    margin-top: 6.5rem;
}

.footer-text {
    color: #5A5A5D;
    text-align: center;
    font-weight: 400;
    line-height: 26px;
    margin-top: 15px;
    margin-bottom: 35px;
}

.footer-all-icon {
    text-align: center;
    margin-bottom: 50px;
}

hr {
    width: 50%;
    height: 1px;
    background: rgba(19, 19, 24, 0.10);
    margin-bottom: 50px;
}

.footer-copyright {
    color: #131318;
    font-family: Inter;
    font-size: 16px;
    font-weight: 300;
    text-align: center;
    padding-bottom: 7rem;

}

@media screen and (max-width: 600px) {

    .nav-container,
    .header-container,
    .popular-container,
    .popular-img {
        width: 100%;
        margin: auto;

    }

    .nav-container,
    .nav-menubar,
    .input-form,
    .popular-container,
    .newsletter-travel-section {
        flex-direction: column;
    }

    .nav-title {
        margin: 0 auto;
    }

    .nav-menubar {
        gap: 1rem;
    }

    .header-container h1 {
        padding: 1rem;
        font-size: 1.5rem;
    }

    .header-container p {
        margin-top: 0;
        margin-bottom: 2rem;
    }

    .newsletter-travel-section{
        width: 90%;
    }

    .travel-imgR{
        width: 90%;
    }

    .travel-info {
        width: 30%;
        transform: rotate(-19.628deg);
        top: 70px;
        left: 70px;
    }
    .travel-img {
        position: absolute;
        width: 100%;
    
    }

    .travel-info p {
        font-size: 15px;
    }
    
    .travel-info h4 {
        font-size: 20px;
    }

    .newsletter-section {
        width: 100%;
        padding: 5px;
    

    }

    .newsletter-section input[type=text],
    [type=email] {
        width: 50%;

    }

    .newsletter-section input[type=submit] {
        width: 50%;

    }


    .footer {
        /* background: rgba(19, 19, 24, 0.05); */
        /* margin-top: 20rem; */
    }




}



@media screen and (min-width: 600px) and (max-width: 992px) {

    .nav-container,
    .header-container,
    .popular-img {
        width: calc(100% - 20px);
        margin: auto;
    }

    .input-form,
    .popular-container {
        flex-direction: column;
    }

    .header-container h1 {
        padding: 2rem;
        font-size: 2rem;
    }

    .header-container p {
        margin-top: 0;
        margin-bottom: 1.5rem;
    }

}